@model LoginViewModel
@{ 
    ViewBag.Tilte = "Login";
}
<div class="row">
    <div class="col-md-6 offset-md-3">
     <form method="post">
         <div asp-validation-summary="ModelOnly"></div>
         <div class="form-group">
             <label asp-for="UserName">UserName</label>
             <input asp-for="UserName" class="form-control" />
          </div>
         <div class="form-group">
             <label asp-for="Password">Password</label>
             <input asp-for="Password" type="password" class="form-control" />
         </div>
         <div class="form-group">
             <div class="from-check">


                 <input asp-for="RememberMe" type="checkbox" class="from-check-input" />
                 <label asp-for="RememberMe" class="from-check-label">Remember Me?</label>
             </div>
         </div>
         <div class="form-group">
             <button type="submit" class="btn btn-success">
                 Login
             </button>
         </div>
     </form>
    </div>
</div>