<h3>Shopping Cart</h3>
<div>#/Items:{{data.order.items.length}}</div>
<div>SubTotal:{{data.order.subtotal}} </div>
<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <td>ProductArtist</td>
            <td>#</td>
            <td>€</td>
            <td>Total</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let o of data.order.items">
            <td>{{o.productArtist}}</td>
            <td>{{o.quantity}}</td>
            <td>{{o.unitPrice }}</td>
            <td>{{(o.unitPrice * o.quantity)}}</td>
        </tr>
    </tbody>
</table>
<button class="btn btn-success" *ngIf="data.order.items.length >0" (click)="onCheckout()">
    Checkout
</button>