@{
    ViewBag.Title = "Home Page";
}
<div>
    <div>
        <div class="ProductInfo1">
            <div>New Arrivals</div>
            <div class="row">

                <div class="col-md-4">
                    <img src="~/img/VanGogh.jpg" />
                    <h2>Mug</h2>
                    <ul class="ProductProp">
                        <li>Price 5$</li>
                        <li>Artist Van Gogh</li>
                        <li>Title:</li>
                        <li>Description:Self Portrait</li>

                    </ul>
                </div>
                <div class="col-md-4">
                    <img src="~/img/SK-A-358 - Copy.jpg" />
                    <h2>SK</h2>
                    <ul class="ProductProp">
                        <li>Price 10$</li>
                        <li>Artist SK</li>
                        <li>Title:</li>
                        <li>Description:Self Portrait</li>

                    </ul>
                </div>
                <div class="col-md-4">
                    <img src="~/img/SK-A-4717 - Copy.jpg" />
                    <h2>SK-3262</h2>
                    <ul class="ProductProp">
                        <li>Price 15$</li>
                        <li>Artist SK</li>
                        <li>Title:</li>
                        <li>Description:Self Portrait</li>

                    </ul>
                </div>
                </div>

                    <button id="buy" class="btn btn-success">Buy</button>
                </div>

                <div id="TheForm">
                    <form>
                        <label>Name</label>
                        <br />
                        <input />
                        <br />
                        <label>Email</label>
                        <br />
                        <input />
                        <br />
                        <label>Subject</label>
                        <br />
                        <input />
                        <br />
                        <label>Message</label>
                        <br />
                        <textarea></textarea>
                        <br />
                        <input type="submit" value="send message" />
                    </form>
                </div>
                <div>
                    <div id="LoginToggle">Login</div>
                    <form class="PopupForm">
                        <br />
                        <label>UserName</label>
                        <br />
                        <input />
                        <br />
                        <label>Password</label>
                        <br />
                        <input type="password" />
                        <br />
                        <label>Remberer Me?</label>
                        <br />
                        <input type="checkbox" />
                        <br />
                        <input type="submit" value="Login" />
                        <br />
                    </form>
                </div>
            </div>
    @*<div class="col-md-3">This is Fun site for buying dutch treat1</div>*@
</div>